.nav {
    display: flex;
    justify-content: space-between;
    background-color: #b465da;
    color: white;
    padding: 15px;
    font-size: 2em;
  }

.header {
    text-align: center;
    color: white;
}

.home {
    text-align: center;
}
.nav a {
    color: white;
    text-decoration: none;
}

.input {
    background-color: purple;
}

.p1 {
    text-align: center;
    color: white;
    /* font-size: 10px; */
}

.c1, .c2 {
    text-align: center;
}

.CodedBy {
    text-align: center;
}

.footer {
    border-top: 1px solid purple;
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    /*left: 500px; */
    text-align: center;
    font-family: cursive;

}